@*model Projet3.Models.ContactViewModel*@

@{
    ViewBag.Title = "Accueil - Derniers articles";
}

<h2>Derniers articles</h2>

<section id="lastArticles" class="col-md-10">

</section>
<section id="search" class="col-md-2"></section>
