@model Projet3.Models.Categorie

@{
    ViewBag.Title = "Catégories - Détails";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Catégories - Détails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Categories")" class="btn btn-default">
        <i class="fas fa-chevron-circle-left"></i>
        Retour liste
    </a>
    <a href="@Url.Action("Edit", "Categories" , new { id=Model.idCategorie })" class="btn btn-primary">
        <i class="fas fa-edit"></i>
        Modifier
    </a>
</p>
